<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" href="css/view_table.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet"> <!--Patua One Font-->
	</head>
	<body>
	<!--Title-->
	<div id="title">
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
		<h1 id="mainTitle"><b>LEAGUE<b></h1>
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
	</div>
	<br>

	<!--Showing Tables-->
	<!--League-->
	<br></br><br></br>
	<span id="tableTitle">LEAGUE TABLE</span>
	<table>
		<thead>
			<th>LeagueId</th>
			<th>Name</th>
			<th>Location</th>
			<th>Champions</th>
			<th>Total Games</th>
			<th>Delete</th>
		</thead>
		<tbody>
			{{#each league}}
			<tr>
				<td>{{leagueId}}</td>
				<td>{{name}}</td>
				<td>{{location}}</td>
				<td>{{champ}}</td>
				<td>{{totalGames}}</td>
				<td><button onclick="deleteLeague({{leagueId}})">Delete</button></td> <!--Taken directly from Justin's code. Needs tieing to actual JS action-->
			</tr>
			{{/each}}
		</tbody>

		<form id="insertleague" action="/league_table" method="post">
			<br>Insert a new League!<br>
        	<br>League Name: <input type="text" name="name"><br>
        	Location: <input type="text" name="location"><br>
			Select the previous Champion: <select name="champ">
				{{#each teams}}
				<option value="{{teamId}}">{{name}}</option>
				{{/each}}
			</select><br>
			Total Games per Season: <input type="number" name="totalGames"><br>
        	<input type="submit" value="Submit">
        </form>

	</table>

	<!--Horizontal Site Directory List-->
	<div id="siteList">
		<a href="home">Home</a><br>
		<a href="stadium_table">Stadium Table</a><br>
		<a href="team_table">Team Table</a><br>
		<a href="league_table">League Table</a><br>
		<a href="team-league_table">Team-League Table</a><br>
		<a href="sponsor_table">Sponsor Table</a><br>
		<a href="player_table">Player Table</a><br>
	</div>
	<br>

	<!--Closing Remarks-->
	<br>
	<div id="copyright"><b>OSU 340 - Cedric Eicher - Lennard Gorter - Group 18 - All Rights Reserved</b></div>

	<!--JavaScript Call-->
	<script src="js/delete_league.js"></script>

	</body>
</html>
