<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" href="css/view_table.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet"> <!--Patua One Font-->
	</head>
	<body>
	<!--Title-->
	<div id="title">
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
		<h1 id="mainTitle"><b>PLAYER<b></h1>
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
	</div>
	<br>
	
	<!--Showing Tables-->	
	<!--Player-->
	<br></br><br></br>
	<span id="tableTitle">PLAYER TABLE</span>
	<table>
		<thead> 
			<th>PlayerId</th>
			<th>TeamId</th> 
			<th>First Name</th>
			<th>Last Name</th> 
			<th>Position</th> 
			<th>Appearances</th>
			<th>Goals</th> 
			<th>Assists</th> 
			<th>Height</th> 
			<th>Birth Date</th> 
			<th>Nationality</th> 
			<th>SponsorId</th>
			<th>Delete</th>
			<th>Edit</th>
		</thead> 
		<tbody> 
			{{#each player}} 
			<tr> 
				<td>{{playerId}}</td>
				<td>{{teamId}}</td> 
				<td>{{fname}}</td>
				<td>{{lname}}</td>
				<td>{{position}}</td>
				<td>{{appearances}}</td>
				<td>{{goals}}</td>
				<td>{{assists}}</td>
				<td>{{height}}</td>
				<td>{{birthdate}}</td>
				<td>{{nationality}}</td>
				<td>{{sponsorId}}</td>
				<td><button onclick="deletePerson({{stadiumId}})">Delete</button></td> <!--Taken directly from Justin's code. Needs tieing to actual JS action-->
				<td><a href="/stadium/{{stadiumId}}">Update</a></td> <!--Taken directly from Justin's code. Needs tieing to actual JS action-->
			</tr> 
			{{/each}}
		</tbody>
	</table>
	
	<!--Horizontal Site Directory List-->
	<div id="siteList">
		<a href="home">Home</a><br>
		<a href="stadium_table">Stadium Table</a><br>
		<a href="team_table">Team Table</a><br>
		<a href="league_table">League Table</a><br>
		<a href="sponsor_table">Sponsor Table</a><br>
		<a href="player_table">Player Table</a><br>
		<a href="search">Search Queries</a><br>	
	</div>
	<br>
	
	<!--Closing Remarks-->
	<br>
	<div id="copyright"><b>OSU 340 - Cedric Eicher - Lennard Gorter - Group 18 - All Rights Reserved</b></div>
	
	<!--JavaScript Call-->
	<script src="js/view_table.js"></script>
	
	</body>
</html>