<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" href="css/view_table.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet"> <!--Patua One Font-->
	</head>
	<body>
	<!--Title-->
	<div id="title">
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
		<h1 id="mainTitle"><b>TEAM<b></h1>
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
	</div>
	<br>
	
	<!--Showing Tables-->	
	<!--Team-->
	<br></br><br></br>
	<span id="tableTitle">TEAM-LEAGUE TABLE</span>
	<table>
		<thead> 
			<th>TeamLeagueId</th>
			<th>TeamId</th>
			<th>LeagueId</th> 
			<th>Delete</th>
		</thead> 
		<tbody> 
			{{#each team_league}} 
			<tr> 
				<td>{{team_leagueId}}</td>
				<td>{{teamId}}</td>
				<td>{{leagueId}}</td> 
				<td><button onclick="deleteTeamLeague({{team_leagueId}})">Delete</button></td> <!--Taken directly from Justin's code. Needs tieing to actual JS action-->
			</tr> 
			{{/each}}
		</tbody>

		<form id="insertleague_team" action="/team-league_table" method="post">
			<br>Insert a new Team-League Pairing!<br>
			<br>Select a League: <select name="leagueId">
				{{#each leagues}}
				<option value="{{leagueId}}">{{name}}</option>
				{{/each}}
			</select><br>
        	<br>Select a Team: <select name="teamId">
				{{#each teams}}
				<option value="{{teamId}}">{{name}}</option>
				{{/each}}
			</select><br>
        	<input type="submit" value="Submit">
        </form>

	</table>
	
	<!--Horizontal Site Directory List-->
	<div id="siteList">
		<a href="home">Home</a><br>
		<a href="stadium_table">Stadium Table</a><br>
		<a href="team_table">Team Table</a><br>
		<a href="league_table">League Table</a><br>
		<a href="team-league_table">Team-League Table</a><br>
		<a href="sponsor_table">Sponsor Table</a><br>
		<a href="player_table">Player Table</a><br>
		<a href="search">Search Queries</a><br>	
	</div>
	<br>
	
	<!--Closing Remarks-->
	<br>
	<div id="copyright"><b>OSU 340 - Cedric Eicher - Lennard Gorter - Group 18 - All Rights Reserved</b></div>
	
	<!--JavaScript Call-->
	<script src="js/delete_team-league.js"></script>
	
	</body>
</html>