<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" href="css/view_table.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet"> <!--Patua One Font-->
	</head>
	<body>
	<!--Title-->
	<div id="title">
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
		<h1 id="mainTitle"><b>TEAM<b></h1>
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
	</div>
	<br>

	<!--Showing Tables-->
	<!--Team-->
	<br></br><br></br>
	<span id="tableTitle">TEAM TABLE</span>
	<table>
		<thead>
			<th>TeamId</th>
			<th>Name</th>
			<th>City</th>
			<th>Stadium</th>
			<th>Standing</th>
			<th>Games Played</th>
			<th>Points</th>
			<th>Delete</th>
		</thead>
		<tbody>
			{{#each team}}
			<tr>
				<td>{{teamId}}</td>
				<td>{{name}}</td>
				<td>{{city}}</td>
				<td>{{stadium}}</td>
				<td>{{standing}}</td>
				<td>{{gamesPlayed}}</td>
				<td>{{points}}</td>
				<td><button onclick="deleteTeam({{teamId}})">Delete</button></td> <!--Taken directly from Justin's code. Needs tieing to actual JS action-->
			</tr>
			{{/each}}
		</tbody>

		<form id="insertteam" action="/team_table" method="post">
			<br>Insert a new Team!<br>
        	<br>Team Name: <input type="text" name="name"><br>
        	City: <input type="text" name="city"><br>
			Select a Stadium: <select name="stadium">
				{{#each stadiums}}
				<option value="{{stadiumId}}">{{name}}</option>
				{{/each}}
			</select><br>
			Current League Standing: <input type="number" name="standing"><br>
			Games Played: <input type="number" name="gamesPlayed"><br>
			Points: <input type="number" name="points"><br>
        	<input type="submit" value="Submit">
        </form>
	</table>

	<!--Horizontal Site Directory List-->
	<div id="siteList">
		<a href="home">Home</a><br>
		<a href="stadium_table">Stadium Table</a><br>
		<a href="team_table">Team Table</a><br>
		<a href="league_table">League Table</a><br>
		<a href="team-league_table">Team-League Table</a><br>
		<a href="sponsor_table">Sponsor Table</a><br>
		<a href="player_table">Player Table</a><br>
	</div>
	<br>

	<!--Closing Remarks-->
	<br>
	<div id="copyright"><b>OSU 340 - Cedric Eicher - Lennard Gorter - Group 18 - All Rights Reserved</b></div>

	<!--JavaScript Call-->
	<script src="js/delete_team.js"></script>

	</body>
</html>
